@tailwind base;
@tailwind components;
@tailwind utilities;


.maxHeightAndWidth{
    max-width: 70px;
    min-width: 80%;
    max-height: 320px;
    min-height: 300px;
}
.buttonOption{
    box-shadow: 10px 10px rgba(0, 0, 0, 0.685);
}